body {
    background-color: #f1e7d9;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px 0px 12px 0px;
    padding: 0px 20px;
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: #B12D10;
    color: white;
    height: 40px;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 23px;
}

img {
    height: 23vh;
    padding-right: 20px;
}

.product {
    display: flex;
    justify-content: flex-start;
}

.product h4 {
    font-size: 25px;
    font-weight: 800;
}

span {
    color: #f1380e;
    font-size: 15px;
    font-weight: bold;
}
